.navbar{
    background-color: grey;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style:none;
}
a{color: white;
text-decoration: none;}
#outerdiv{
    background-color: burlywood;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#innerdiv{
    background-color: coral;
    height: 50px;
    width: 50px;
}
#box{
    background-color: aqua;
    height: 100px;
    width: 100px;
}
@media(width :600px){
    div{ background-color: brown;}
}