#loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #ffe66d;
    border-top: 20px solid #4ecdc4 ;
    text-align: center;
    animation: spinanimate 2s ease-in 0s infinite normal;
}
@keyframes spinanimate {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}