h1 {
    color :rgb(224, 224, 231);
} 
body{
    background-color: rgb(64, 15, 15);
}
button{
    background-color:aquamarine ;
}
#headingone {
    color:brown;
}
div{
    background-color:grey;
}
.myclass{
    color:red; 
}
h2{
    text-align: center;
}
p{
    text-align: center;}
    h2{
        text-decoration:underline;
    }
    h2{
        font-weight:lighter ;
    }
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    #one{
        font-size: 30px;
    }
    #two{
         font-size: 25px;
    }
    #three{
        font: size 20px; 
    }
    H1{
        text-align: center;
        text-transform: capitalize;
    }
    p3{
        font-family: 'Times New Roman', Times, serif;
        color: chartreuse;
    }
    #outer{
        font-size: 25px;
    }
    #inner{
        font-size: 10px;
    }

    h1{
        height: 200px;
        width: 200px;
        background-color: aqua;
        text-align: center;
        border-width: 2px;
        border-style: dotted;
        border-color: black;
        border-radius: 25px;
    }

    div{
        background-color:bisque;
        display: inline-block;
        margin: 20PX;
        border-style: double;
        border-color: black;
        

    }
    button{
        background-color: orange;
    }
    #navbar{
        padding: 0%;
        margin: 0%;
        height: 60px;
        background-color: #0f1111;
        color:white;
        text-decoration: none;
    }
        #logo{
        color:rgb(170, 125, 41);
    }

    a{
        margin-right: 200px;
        color: aliceblue;
    }
    #one{
        background-color: aqua;
        display: inline;
    }
    #two{
        background-color: blue;
        display: inline;
    }
    #three{
        background-color: blueviolet;
        display: inline;
    }
    header{
        font-size: x-large;
        font-weight: 100;
        text-align:left;
        color: crimson;
        font-weight: bolder;
        line-height: 50px;
    }
    #navbar2{
        background-color: black;
        margin-right: 200px;
    }
    #logo1{
        color: brown;
    }
    #head{
        text-align: center;
    }
    #contentbox{
        height: 100px;
        width: 100px;
        border: #0f1111;

    }
    FOOTER{
        text-align: center;

    }
    #contentbox{
        border: #0f1111;
    }
    #box1{
        background-color: aqua;
        height: 300px;
        width: 150px;
        background-image: url("aasish1.jpeg");
        background-size: cover;
    }
    #box2{
        background-color: aqua;
        height: 100px;
        width: 100px;
        position: relative;
        top: 20px;
        left: 10px;
    }
    #box3{
        background-color: aqua;
        height: 100px;
        width: 100px;
    }
    #box4{
        background-color: aqua;
        height: 100px;
        width: 100px;
    }

    